{% extends 'crud/base.html' %}
{% block content %}
{% load humanize %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'myapp:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'myapp:consumetaxlist' %}">消費税率情報一覧</a></li>
            <li class="breadcrumb-item active" aria-current="page">消費税率情報新規登録</li>
        </ol>
    </nav>
	<div class="form-group">
        <form method="post" id="form">{% csrf_token %}
            <div style="height: 80px;">
                <div class="w-50 h-25 mx-auto">
                    {% if messages %}
                    <ul class="messages_ul">
                        {% for message in messages %}
                            <li class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} list-unstyled alert-dismissible fade show" role="alert">{{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="card mx-auto" style="width: 60rem;">
                <div class="card-header">
                    新規消費税率情報登録
                </div>
                <div class="tab-content">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-sm-3">
                                <label for="id_TaxRate">消費税率</label>
                                {% if form.errors.TaxRate %}
                                {% for error in form.errors.TaxRate %}
                                    <input type="tel" class="form-control is-invalid" autocomplete="new-password" name="TaxRate" id="id_TaxRate" value="{{ form.data.TaxRate.value }}">
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                    <input type="tel" class="form-control" autocomplete="new-password" name="TaxRate" id="id_TaxRate" value="{{ form.data.TaxRate.value }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="id_TaxRateDisplay">消費税率表示名称</label>
                                {% if form.errors.TaxRateDisplay %}
                                {% for error in form.errors.TaxRateDisplay %}
                                    <input type="tel" class="form-control is-invalid" autocomplete="new-password" name="TaxRateDisplay" id="id_TaxRateDisplay" value="{{ form.data.TaxRateDisplay.value }}">
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                    <input type="tel" class="form-control" autocomplete="new-password" name="TaxRateDisplay" id="id_TaxRateDisplay" value="{{ form.data.TaxRateDisplay.value }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-3">
                                <label for="id_TaxStartDate">税率開始日</label>
                                {% if form.errors.TaxStartDate %}
                                {% for error in form.errors.TaxStartDate %}
                                <input type="text" class="form-control is-invalid flatpickr" autocomplete="new-password" name="TaxStartDate" id="id_TaxStartDate" value="{{ form.data.TaxStartDate }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control flatpickr" autocomplete="new-password" name="TaxStartDate" id="id_TaxStartDate" value="{{ form.data.TaxStartDate }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="id_TaxEndDate">税率終了日</label>
                                {% if form.errors.TaxEndDate %}
                                {% for error in form.errors.TaxEndDate %}
                                <input type="text" class="form-control is-invalid flatpickr" autocomplete="new-password" name="TaxEndDate" id="id_TaxEndDate" value="{{ form.data.TaxEndDate }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control flatpickr" autocomplete="new-password" name="TaxEndDate" id="id_TaxEndDate" value="{{ form.data.TaxEndDate }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-right">
                        <button type="submit" class="btn btn-info btn-sm">&nbsp;&nbsp;登&nbsp;&nbsp;録&nbsp;&nbsp;</button>
                        <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='{% url 'myapp:consumetaxlist' %}'">&nbsp;&nbsp;中&nbsp;&nbsp;止&nbsp;&nbsp;</button>
                    </div>
                </div>
                {% block extrajs %}
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
                <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
                <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
                <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                {% load static %}
                <script src="{% static '\js\tab.js' %}" charset="UTF-8"></script>
                <script src="{% static '\js\enter.js' %}" charset="UTF-8"></script>
                <script src="{% static '\js\datalist.js' %}" charset="UTF-8"></script>
                <script src="{% static '\js\datepicker.js' %}" charset="UTF-8"></script>
                {% endblock %}       
            </div>
        </form>
    </div>
</div>
{% endblock %}
