{% extends 'crud/base.html' %}
{% block content %}
<div class="container-fluid">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'myapp:index' %}">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">得意先仕入先マスタ一覧</li>
			<div class="container">
				<div class="text-right">
					<button class="btn btn-info btn-sm" onclick="location.href='{% url 'myapp:new' %}'">新規登録</button>
				</div>
			</div>
		</ol>
	</nav>
	<div class="form-group">
		<form method="post" id="form">{% csrf_token %}
			<div class="form-row align-items-center">
				<div class="col-auto">
					<label class="sr-only" for="text5a">キーワード</label>
					<input type="search" name="query" class="form-control mb-2" autocomplete="new-password" value="{{ cmsearch.query.value }}" placeholder="キーワード"/>
				</div>
				<div class="col-auto">
					<button class="btn btn-info mb-2" type="submit">
							検索
					</button>
				</div>
			</div>
		</form>
		<div class="table-responsive table-container">
		<div class="table-sticky-container">
			<table class="table table-sticky" id="tblrow">
				<thead>
					<tr class="bg-info">
						<th scope="col" class="text-center" style="width: 5%">コード</th>
						<th scope="col" class="text-center" style="width: 20%">名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</th>
						<th scope="col" class="text-center" style="width: 5%">郵便番号</th>
						<th scope="col" class="text-center" style="width: 5%">都道府県</th>
						<th scope="col" class="text-center" style="width: 5%">市区町村</th>
						<th scope="col" class="text-center" style="width: 5%">番地</th>
						<th scope="col" class="text-center" style="width: 5%">電話番号</th>
						<th scope="col" class="text-center" style="width: 5%">担当者名</th>
						<th scope="col" class="text-center" style="width: 5%">アクション</th>
					</tr>
				</thead>
				<tbody>
					{% for customersupplier in object_list %}
					<tr>
						<td class="text-right" style="vertical-align:bottom;">{{ customersupplier.CustomerCode }}</td>
						<td class="text-left" style="vertical-align:bottom;">{{ customersupplier.CustomerName }}</td>
						<td class="text-left" style="vertical-align:bottom;">{{ customersupplier.PostCode }}</td>
						<td class="text-left" style="vertical-align:bottom;">{{ customersupplier.PrefecturesCode.prefecturename }}</td>
						<td class="text-left" style="vertical-align:bottom;">{{ customersupplier.Municipalities }}</td>
						<td class="text-left" style="vertical-align:bottom;">{{ customersupplier.Address }}</td>
						<td class="text-left" style="vertical-align:bottom;">{{ customersupplier.PhoneNumber }}</td>
						<td class="text-left" style="vertical-align:bottom;">{{ customersupplier.ManagerCode.first_name|add:customersupplier.ManagerCode.last_name }}</td>
						<td style="vertical-align:bottom;">
							<span><button type="button" class="btn btn-outline-primary btn-sm" onclick="customeredit('{{customersupplier.id}}','{{forloop.counter}}')">詳細</button></span>
							<span><button type="button" class="btn btn-outline-danger btn-sm"  onclick="customerdelete('{{customersupplier.id}}','{{forloop.counter}}')">削除</button></span>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="col-6 offset-3 justify-content-center">
	{% if is_paginated %}
		{% include "crud/pagination.html" %}
	{% endif %}
</div>
{% load static %}
<script src="{% static '\js\tableborder.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\listcustomersupplier.js' %}" charset="UTF-8"></script>
{% endblock %}
